// Navigation colours
$nav-color: #38c6a8;

// Colors
$title-color: #34495e;
$link-color: #eceeed;

// Clock variables
$clock-text-color: #fff;
$clock-bg-color: #38c6a8;
$clock-border-color: #34495e;
// #588fad
// #a4d0e0
