.clock {
  width: 20rem;
  height: 20rem;

  align-items: center;

  background-color: $clock-bg-color;
  border: 4px solid $clock-border-color;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  margin: 4rem auto;
}

.clock-text {
  color: $clock-text-color;
  cursor: default;

  font-size: 2.25rem;
  font-weight: 300;
}

.button.hollow.primary {
  border: 1px solid $clock-bg-color;
  color: $clock-bg-color;
}

.button.hollow.primary:hover,
.button.hollow.primary:focus {
  border: 1px solid $clock-bg-color;
  background-color: $clock-bg-color;
  color: #fff;
}
